<% content_for :top_content do %>
<div class="jumbotron">
  <div class="container">

    <p>
      <% unless user_signed_in? %>
      <h1>Welcome!</h1>
      <p>For access, click a button below...</p>
      <a class="btn btn-primary btn-lg" href="/users/sign_up">New User</a>
      <a class="btn btn-primary btn-lg" href="/users/sign_in">Log In</a></p>
      <p>
      <% else %>
      <h1> <%= "Hello,  #{current_user.first_name}!" %> </h1> <br>
      <%= link_to 'Log Out', sign_out_path, class: 'btn btn-primary btn-lg' %>
      </p>
      <% end %>
  </div>
</div>
<% end %>
