<h1>Change Log-In Info for Vet User Account</h1>


<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

<h3>/Users/eileenulry/dropbox/closure2/ClosureAtHome/app/views/users/edit.html.erb</h3>
