<h1>Editing Pet</h1>

<%= render 'form', pet: @pet %>

<%= link_to 'Show', @pet %> |
<%= link_to 'Back', pets_path %>
<h3>/Users/eileenulry/dropbox/closure2/ClosureAtHome/app/views/pets/edit.html.erb</h3>
