<h1>Editing Rdvm</h1>

<%= render 'form', rdvm: @rdvm %>

<%= link_to 'Show', @rdvm %> |
<%= link_to 'Back', rdvms_path %>
<h3>/Users/eileenulry/dropbox/closure2/ClosureAtHome/app/views/rdvms/edit.html.erb</h3>
