<h1>Editing Client</h1>

<%= render 'form', client: @client %>

<%= link_to 'Show', @client %> |
<%= link_to 'Back', clients_path %>
<h3>/Users/eileenulry/dropbox/closure2/ClosureAtHome/app/views/clients/edit.html.erb</h3>
